.body {
    background-color: #322C32;
    color: honeydew;
}

.LayoutFooter {
    color: antiquewhite;
}

.CheatInfo {
    background-color: #E6E8E4;
    color: black;
}

.AboutInfo {
    color: honeydew;
}

.nav-link-custom{
    color: white;
}
