{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="AboutInfo">
        <h2> About this project </h2>
        <p> The project is a way to help programmers with code samples and explanations so if anyone was starting a new project, they would have a ready template which they can use.<br> Currently we are working with <strong>Python</strong> but we are planning other languages soon. <br> This website run using Python-flask on heroku. If you feel like you can help then please contribute to our work with a pull request on our <a href="https://github.com/TakeASample/TakeASample">GitHub page</a> <br> Found an issue? create an issue on our <a href="https://github.com/TakeASample/TakeASample">GitHub page </a>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center">
                        Vachan MN
                    </h3>
                    <div class="row">
                        <div class="col-md-4">
                            <img alt="Vachan's image" src="/static/vachan.jpg" class="rounded-circle" />
                        </div>
                        <div class="col-md-8">
                            <p>
                                Vachan is a python programmer, he is studying in 12th grade , he likes to do many proof of concept programs and loves to experiment with new python modules.. He is learning C++ recently.<br> Contact him on discord at <strong>TakedownIvy#3869</strong>.<br> His github page is <a href="https://github.com/vachanmn123">vachanmn123</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">
                        Pranjal Rastogi
                    </h3>
                    <div class="row">
                        <div class="col-md-4">
                            <img alt="Pranjal's image" src="/static/pjr.png" class="rounded-circle" />
                        </div>
                        <div class="col-md-8">
                            <p>
                                Pranjal Rastogi is a grade 12 student, and  a future computer science professor! He is an avid coder and love learning new technologies! <br> Contact him on discord at <strong>pjrOnDiscord#5321</strong> <br> You can see some of his projects on github <a href="https://github.com/pjrcodes"> PjrCodes</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
{% endblock %}